.span12.zero-lmargin.right-align
  - if user_signed_in?
    hi #{current_user.email},
    = link_to 'Sign out', destroy_user_session_path, method: :delete
  - else
    = link_to 'Sign in', new_session_path(:user)
  |
  = link_to 'Sign up', new_registration_path(:user)
.span12.zero-lmargin.center
  %h2=link_to 'Gift Me Now', '/', class: 'brand'
